# 1. Системні файли macOS
.DS_Store

# 2. Логи
*.log

# 3. Конфіденційні файли
*.env

# 4. Модулі Node.js
node_modules/

# 5. Архіви
*.zip
*.tar.gz

# 6. Кеш Python
pycache/
*.pyc

# 7. Конфігурація IDE
.vscode/
.idea/

# 8. Тимчасові файли
*.tmp
*.swp

# 9. Папки збірки
dist/
build/

# 10. Виконувані файли
*.exe

